body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: siteOpening 2s;
    background-color: var(--colorBack);
    overflow-x: hidden;
}

header,
main,
footer {
    width: 98%;
    max-width: 1440px;
}

/**********USERACCESS***********************/

#userAccess {
    position: relative;
    width: 100%;
    height: 30px;
}

#userAccess div {
    background-color: black;
    width: 100%;
    position: absolute;
    top: -50px;
    transition: 0.3s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#userAccess:hover div {
    top: 0px;
    transition: 0.3s;
}

#userAccess button {
    border-radius: 10px;
}

#linkToDashboard {
    font-size: var(sizeText);
    text-decoration: none;
    font-family: var(--fontTitle);
    font-weight: 600;
    transition: 0.3s;
}

#linkToDashboard:hover {
    cursor: pointer;
    transition: 0.3s;
}

#userAccess svg {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

/**********USERPANEL**************************/

#UserPanel {
    padding: 20px;
}

#UserPanel div,
#UserPanel form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#UserPanel input {
    background-color: var(--colorFont);
    color: var(--colorBack);
    padding: 10px;
    border-radius: var(--radius);
    font-weight: 700;
    width: 60%;
    text-align: center;
}

::placeholder {
    color: var(--colorShadow);
    text-align: center;
    font-weight: 700;
}

#UserPanel button {
    background-color: var(--colorShadow);
    color: var(--colorFont);
    padding: 10px;
    border-radius: var(--radius);
    transition: 0.3s;
}

#UserPanel button:hover {
    background-color: var(--colorStar);
    transition: 0.3s;
}

/**********HEADER****************************/

header {
    height: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#headerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav li {
    position: absolute;
    list-style: none;
}

header a {
    font-family: var(--fontTitle);
    font-weight: 600;
    text-decoration: none;
    font-size: var(--sizeTitle);
    transition: 0.2s;
}

a:hover {
    color: var(--colorStar);
    transition: 0.2s;
}

#linkToBio {
    top: 15px;
    left: 3%;
}

#linkToDates {
    top: 70px;
    left: 20%;
}

#linkToMedias {
    top: 70px;
    right: 20%;
}

#linkToNews {
    top: 15px;
    right: 2%;
}

#headerUnderline {
    margin-top: 10px;
    width: 400px;
    height: 1px;
    border: solid 2px var(--colorShadow);
}

.active {
    text-decoration: underline;
}

/***********MAIN************************/

main {
    margin-top: 30px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding: 30px;
    font-size: var(--sizeTitle);
    text-align: center;
    font-family: var(--fontTitle);
}

/**********BIO********************************/

#bioImage {
    margin: 30px;
    border-left: solid 3px var(--colorShadow);
    border-right: solid 3px var(--colorShadow);
    border-bottom: solid 3px var(--colorShadow);
    border-radius: var(--radius);
}

#bioDescription {
    width: 80%;
    text-align: center;
    margin: 30px 30px 50px 30px;
}

.bioArticle {
    margin-bottom: 30px;
    border-left: solid 3px var(--colorShadow);
    border-right: solid 3px var(--colorShadow);
    border-bottom: solid 3px var(--colorShadow);
    border-radius: var(--radius);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.imageOnLeft {
    flex-direction: row-reverse;
}

.imageOnRight {
    flex-direction: row;
}

.bioArticleImageContainer {
    border-radius: var(--radius);
    overflow: hidden;
    min-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioArticleTextContainer {
    padding: 30px;
}

.bioArticleTextContainer h3 {
    padding-bottom: 15px;
}

.imageOnLeft .bioArticleTextContainer h3,
.imageOnLeft .bioArticleTextContainer p {
    text-align: end;
}

/**********DATE*****************************/

.dateArticle {
    display: flex;
    gap: 10px;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    border-left: solid 3px var(--colorShadow);
    border-right: solid 3px var(--colorShadow);
    border-bottom: solid 3px var(--colorShadow);
    border-radius: var(--radius);
}

.dateDay {
    order: 1;
}

#dateSection h3 {
    order: 2;
}

.dateCity {
    order: 3;
}

#mapToggler {
    padding: 10px;
    margin: 30px;
    border-radius: var(--radius);
    color: var(--colorFont);
    background-color: var(--colorShadow);
    transition: 0.3s;
}

#mapToggler:hover {
    background-color: var(--colorStar);
    transition: 0.3s
}

.leaflet-container {
    width: 90%;
    height: 80vw;
    max-height: 800px;
    margin-bottom: 30px;
    border-left: solid 3px var(--colorShadow);
    border-right: solid 3px var(--colorShadow);
    border-bottom: solid 3px var(--colorShadow);
    border-radius: var(--radius);
}

.leaflet-container a {
    font-family: var(--fontNormal);
    font-size: 10px;
}

.leaflet-popup-content p {
    color: var(--colorBack);
    font-family: var(--fontNormal);
    font-weight: 700;
    text-align: center;
}

a.leaflet-popup-close-button span {
    color: var(--colorBack);
    font-size: 2vw;
}

/**********MEDIAS*******************************/

.mediaArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    width: 50%;
}

.mediaArticle audio {
    width: 100%;
}

.mediaArticle video {
    border-radius: 30px;
    width: 100%;
}

/**********NEWS*******************************/

.blogArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    width: 90%;
    border-left: solid 3px var(--colorShadow);
    border-right: solid 3px var(--colorShadow);
    border-bottom: solid 3px var(--colorShadow);
    border-radius: var(--radius);
}

.blogArticle button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
}

.blogArticle button:hover {
    cursor: pointer;
}

.blogArticle svg:hover {
    cursor: pointer;
}

.blogArticleTitle,
.blogArticleNode,
.blogArticleFooter {
    display: flex;
    gap: 20px;
}

.blogArticleNodeSetter {
    display: flex;
    gap: 10px;
}


/**********ACCUEIL****************************/

#accueil {
    display: flex;
    justify-content: center;

}

#accueil div {
    width: fit-content;
    height: fit-content;
    border-radius: var(--radius);
    overflow: hidden;
    position: relative;
    background-color: var(--colorBack);
}

#accueil div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 17px 17px rgb(23, 35, 36);
    z-index: 2;
}

#accueil img {
    z-index: 1;
    position: relative;
    object-fit: cover;
}

/**********FOOTER*****************************/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
}

/**********BREAKPOINT 1024PX******************/

@media screen and (max-width: 1024px) {
    header {
        height: 200px;
    }

    #headerTitle img {
        width: 179px;
        height: 111px;
    }

    header a {
        font-size: 3vw;
    }
}