body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: siteOpening 2s;
    background-color: var(--colorBack);
}

header,
main,
footer {
    width: 98%;
    max-width: 1440px;
}

/**********HEADER****************************/

header {
    height: 275px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#headerTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav li {
    position: absolute;
    list-style: none;
}

a {
    font-family: var(--fontTitle);
    font-weight: 600;
    text-decoration: none;
    font-size: var(--sizeTitle);
    transition: 0.2s;
}

a:hover {
    color: var(--colorStar);
    transition: 0.2s;
}

#linkToBio {
    top: 35px;
    left: 3%;
}

#linkToDates {
    top: 70px;
    left: 20%;
}

#linkToMedias {
    top: 70px;
    right: 20%;
}

#linkToNews {
    top: 35px;
    right: 2%;
}

#headerUnderline {
    margin-top: 10px;
    width: 400px;
    height: 1px;
    border: solid 2px var(--colorShadow);
}

.active {
    text-decoration: underline;
}

/***********MAIN************************/

main {
    margin-top: 30px;
}

/**********BIO********************************/

.bioArticle {
    margin-bottom: 30px;
    border-left: solid 3px var(--colorShadow);
    border-right: solid 3px var(--colorShadow);
    border-bottom: solid 3px var(--colorShadow);
    border-radius: var(--radius);
    overflow: hidden;
}

.bioArticleImageContainer {
    border-radius: var(--radius);
    overflow: hidden;
    width: 300px;
}

.bioArticleTextContainer {
    padding: 30px;
    min-width: auto;
}

.bioArticleTextContainer h3 {
    padding-bottom: 15px;
}



/**********ACCUEIL****************************/

#accueil {
    display: flex;
    justify-content: center;

}

#accueil div {
    width: fit-content;
    height: fit-content;
    border-radius: var(--radius);
    overflow: hidden;
    z-index: 2;
    position: relative;
    background-color: var(--colorBack);
}

#accueil div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 17px 17px rgb(23, 35, 36);
    z-index: 2;
}

#accueil img {
    z-index: 1;
    position: relative;
    object-fit: cover;
}

/**********FOOTER*****************************/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**********BREAKPOINT 1024PX******************/

@media screen and (max-width: 1024px) {
    header {
        height: 200px;
    }

    #headerTitle img {
        width: 179px;
        height: 111px;
    }

    a {
        font-size: 3vw;
    }
}