h1 {
    font-size: 2vw;
}

#headerUnderline {
    width: 300px;
}

h2 {
    font-size: 3vw;
}

#bioImage {
    width: 75vw;
    height: 42vw;

}

.bioArticle {
    flex-direction: column;
}

.bioArticleImageContainer {
    min-width: 100%;
    max-height: 100%;
}

.bioArticleImageContainer img {
    width: 100%;
    height: 100%;
}

.dateArticle {
    width: 90%;
}

.dateArticle h3,
.dateDay,
.dateCity {
    font-size: 2vw;
}

@media screen and (max-width: 560px) {
    header {
        height: 150px;
    }


    #headerTitle img {
        width: 20vw;
        height: 12.4vw;
    }


}